@using ProjectCS.Models
@{
    var currentUser = (ApplicationUser) ViewBag.CurrentUser;
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + @currentUser.FullName + "!", "Details", "Account", routeValues: null, htmlAttributes: new { title = "Details" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
}