
@import "../../helpers/variables/profile-settings/profile-header-settings";
@import "../../helpers/variables/global-measurements";
@import "../../helpers/variables/colors";

.page-banner-box{
    margin-top: $navbar-height;
    height: $profile-header-height;
    padding: 0;

    color: white;

    #page-banner-img{
        position: absolute;
        margin: 0;
        padding: 0;

        height: $profile-header-height;
    }

    h1{
        margin-top: ($profile-header-height - 60px);
        
        text-align: center;
    }

    
}
