
$gyldendal-pink: #EC1550;
$gyldendal-pink-light: rgb(234,50,120);

//-- Background-colors --//
$gyldendal-bg-light: rgb(242, 241, 239); //wallpaper bg color
$gyldendal-bg-dark: rgb(160,160,160);

$gray-darker: rgb(40,40,40);
$gray-dark: rgb(60,60,60);
$gray: rgb(100,100,100);
$gray-light: rgb(140,140,140);
$gray-lighter: rgb(200,200,200);
$gray-lightest: rgb(220,220,220);

$box-bg-light: rgb(250,250,250); //.box
$box-border-light: rgb(235,235,235);