.navbar-right{
    margin-right: -5px;
}


//Spacing
.spacing-md-top{
    margin-top: 30px;
}

.spacing-sm-top{
    margin-top: 20px;
}

.spacing-xs-top{
    margin-top: 10px;
}

.spacing-lg-top{
    margin-top: 40px;
}

.spacing-xl-top{
    margin-top: 50px;
}



.spacing-md-btm{
    margin-bottom: 30px;
}

.spacing-sm-btm{
    margin-bottom: 20px;
}

.spacing-xs-btm{
    margin-bottom: 10px;
}

.spacing-lg-btm{
    margin-bottom: 40px;
}

.spacing-xl-btm{
    margin-bottom: 50px;
}