.medal {
    position: relative;
    text-align: center;
    color: white;

    img {
        background-color: rgba(255,255,255, 0);
        background-image: -moz-linear-gradient(top, rgba(255,255,255, 0), rgba(234,50,120, 0.4));
        background-image: -o-linear-gradient(top, rgba(255,255,255, 0), rgba(234,50,120, 0.4));
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0)), to(rgba(234,50,120, 0.4)));
        background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0), rgba(234,50,120, 0.4));
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(234,50,120, 0.4));

        box-shadow: 0 0 20px white inset;
    }

    .medal-number {
        top: 135px;
        position: absolute;
        width: 100%;
        margin-left: -15px;
        font-weight: bolder;
    }

    .medal-title {
        padding-top: 10px;
        width: 154px;
        height: 50px;
        font-size: 20px;
        background-color: $gray-dark;
        //box-shadow: 0 0 6px black;
        //color: $gray-lightest;
        //border-top: solid 4px $gray-light;
        //border-bottom: solid 10px $gray-light;
    }
}
